.container {

    /* background: #1e1e1e; */
    /* height: 100%; */
    /* overflow-y: auto; */
    
}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.nodeContainer {
    flex-grow: 1;
}

.separator {
    flex-grow: 0;
    width: 20px;
    height: 20px;
    background-image: url('/img/browser/vertical-flow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
