.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.searchInput {
    flex-grow: 1;
}

.separator {
    border-left: 1px solid #686868;
    width: 1px;
    height: 38px;
}