

.layer {
    flex-grow: 0;
    flex-shrink: 0;

    /* height: 100%; */
    overflow-y: hidden;

    /* margin: 15px; */
    /* padding: 15px; */

    width: 350px;

    /* background-color: lightgray; */
}

.layer:hover {
    overflow-y: auto;
}

.singleNodeLayer {
    width: 40px;
    overflow: hidden;
}

.columnLayer {
    width: 350px;
}

.gridLayer {
    width: 700px;
}