.outerLayer {
}

.outerLayerColumn {
    max-width: 450px;
}

.outerLayerGrid {
}


.layer {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;

    padding: 20px;

    min-height: 100%;
}

.singleNodeLayer {
    width: 60px;
    overflow: hidden;
}