.outside {
    /* position: relative; */
    display: flex;

    background: rgb(53, 55, 62);
    color: #FFFFFF;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    cursor: pointer;
}

.outsideSelected {
    background: rgb(252, 189, 63);
    color: #222222;
}

.outsideHighlighted {
    border-color: rgb(252, 189, 63);
    border-width: 1px;
    border-style: solid;
}

.iconContainer {
    /* position: relative; */
    width: 40px;
    display: block;
}

.mainContainer {
    /* position: relative; */
    /* left: 40px; */
    flex-grow: 1;

    display: flex;


    /* background: red; */
}


.iconBox {
    /* position: relative; */
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgb(245, 141, 97);
}


.textContainer {
    /* background: green; */
    flex-grow: 1;

    padding: 5px;

}

.detailsContainer {
    /* background: blue; */
    flex-grow: 1;

    padding: 5px;

    text-align: right;
}

.kindText {
    font-size: 10px;
}

.nameText {
    font-size: 14px;
    font-weight: 500;
}

.alertsContainer {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    /* background: orange; */

}

.flagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;
}

.alertsWrapper {
    border-radius: 4px;
    background: #292a2f;
    height: 26px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.severityWrapper {
    display: flex;
    align-items: center;
}

.severity {
    margin-right: 5px;
}

.tooltipAlertContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltipAlertSeverity {
    display: flex;
    flex-direction: row;
    gap: 5px;
}