.outside {
    display: flex;
    position: relative;

    background: #35373D;
    border-radius: 8px;
    color: #FFFFFF;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    cursor: pointer;

    height: 100%;
}

.outsideSelected {
    background: rgb(252, 189, 63);
    color: #222222;
}

.outsideHighlighted {
    border-color: rgb(252, 189, 63);
    border-width: 1px;
    border-style: solid;
}

.iconContainer {
    margin: 12px;
    display: block;
}

.mainContainer {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    gap: 5px;

    justify-content: center;

    margin-top: 5px;
    margin-bottom: 5px;
}


.iconBox {
    width: 95px;
    height: 95px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #292B31;

    border-radius: 4px;
}

.iconBoxCompact {
    width: 60px;
    height: 60px;
}

.icon {
    width: 65%;
    /* width: 65px;
    height: 65px; */
}

.outside:hover .icon {
    width: 68%;
    /* width: 68px;
    height: 68px; */
}

.nameContainer {
    display: flex;
    flex-direction: column;
}

.nameContainerCompact {
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.textContainer {
    flex-grow: 1;
}

.kindText {
    display: inline-block;
    font-size: 10px;
}

.nameText {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}

.alertsContainer {
    display: flex;
    gap: 5px;
}

.flagsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.alertsWrapper {
    border-radius: 4px;
    background: #292a2f;
    height: 26px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.childrenCountBox {
    position: absolute;
    right: 10px;
    top: 10px;

    height: 20px;
    min-width: 20px;

    color: #ffffff;
    font-size: 12px;
}